---
layout: null
section-type: about
title: About
---
## The Band

Jo Case and Tom Grundman began writing and recording their quirky psychedelic pop tunes last november and after spending the year hiding away in their freezing studio thats floor is covered in a glue that never seemed to dry, what has now finally evolved is their anthemic trippy live show and the band Hugsar. Benjamin Powles joined forces with the duo as their second guitarist this summer to complete the line up as it is now, and the band have been gigging as Hugsar since september. They have been playing their hypnotic, dreamy art-pop to big crowds at gig venues around Bristol and had some amazing shows at The Fleece, Mr Wolfs and The Golden Lion.   

Listen to Tangerine Scream:

{% include audiotag.html id="https://s3.eu-central-1.amazonaws.com/neon-rambutan/tangerinescream.mp3"%}

and Silky:

{% include audiotag.html id="https://s3.eu-central-1.amazonaws.com/neon-rambutan/silky+bounce+4+THIS+ONE.mp3" %}

<small>
    Hugsar can be hired for funerals and children's birthday parties
</small>

