---
layout: null
section-type: about
title: About
---
## HUGSAR

Jo Case, Tom Grundman, Matt Dicken and Jonathan Green are HUGSAR, a Bristol and London based four piece. We mix proggy grooves with psychedelic pads  and hooky melodies. The imminent release of our debut "Cake" E.P. is eagerly anticipated by everyone that knows about it........

Tangerine Scream:

{% include audiotag.html id="https://s3.eu-central-1.amazonaws.com/neon-rambutan/tangerinescream.mp3" %}

<br>

and Silky:

{% include audiotag.html id="https://s3.eu-central-1.amazonaws.com/neon-rambutan/silky+bounce+4+THIS+ONE.mp3" %}
<br>
<small>
    HUGSAR can be hired for funerals and children's birthday parties
</small>

