.img-me {
    z-index: 100;
    left: 0;
    // width: 100px;
    // height: 100px;
    // width: 60%;
    // height: 60%;
    width: 300px;
    height: auto;
    margin-left: 0;
    border: 3px solid #f1f1f1;
    border-radius: 5%;
    text-align: center;
    box-shadow: 0px 0px 8px 3px rgba(20,242,12, 0.4);
    color: #fff;
    background-color: #f1f1f1;

}