$red-tube-off: #544;
$red-tube-on: #ffbb99; 
$red-glow: rgba(255, 0, 84, 1);
$font: sans-serif;

$glowing-tubes: 0 0 3px rgba($red-glow, 0.6),
			0 0 6px rgba($red-glow, 0.4),
			0 0 15px rgba($red-glow, 0.2),
			0 0 10px rgba($red-glow, 0.1), 
      inset 0 0 3px rgba($red-glow, 0.6),
			inset 0 0 6px rgba($red-glow, 0.4),
			inset 0 0 15px rgba($red-glow, 0.2),
			inset 0 0 10px rgba($red-glow, 0.1);

$glowing-text: 0 0 5px rgba($red-glow, 0.6),
			0 0 10px rgba($red-glow, 0.4),
			0 0 18px rgba($red-glow, 0.2),
			0 0 15px rgba($red-glow, 0.1);

#rambutan-logo-container {
  background-color: #242424;
  width: 12em;
  height: 6em;
  border: 1px solid #000;
  border-radius: 1em;
}

#rambutan-logo-border {
  border-radius: 0.8em;
  margin: 0.5em;
  padding: 0.5em;
  box-shadow: $glowing-tubes;
  border: 2px solid $red-tube-on;
}


#rambutan-logo-text {
  position: absolute;
  left: 3.5em;
  top: 0.5em;
  color: $red-tube-on;
  font-family: $font;
  font-size: 14px;
  text-shadow: $glowing-text;
}

#rambutan-logo {
  position: relative;
  height: 3em;;
  width: 2.5em;
  border-radius: 43%;
  margin-left: 1em;;
  margin-bottom: 0.5em;;
  box-shadow: $glowing-tubes;
  border: 2px solid $red-tube-on;
  &:after {
    content: '';
    position: absolute;
    top: 0.3em;
    right: 0.6em;
    height: 3em;
    width: 2.5em;
    border-radius: 43%;
    box-shadow: $glowing-tubes;
    border: 2px solid $red-tube-on;
  }
    &:before {
    content: '';
    position: absolute;
    top: 0.3em;
    right: -0.6em;
    height: 3em;
    width: 2.5em;
    border-radius: 43%;
    box-shadow: $glowing-tubes;
    border: 2px solid $red-tube-on;
  }
}
